---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="n19.app">
	<main>
		<div class="center">
			<h1><span class="text-gradient">n19.app</span></h1>
			<p>
				Terms.
			</p>
		</div>


	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #39fa39, #339c4d);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

</style>